on: workflow_dispatch

jobs:
  build-platform:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4

    - shell: bash
      name: test win32
      run: |
        ./application/application.bat

    - shell: bash
      name: test platform
      run: |
        ./platform/platform.bat

    - shell: bash
      name: test demo
      run: |
        ./sprite-editor/sprite-editor.bat -t

    - shell: bash
      name: test sprite-editor
      run: |
        ./sprite-editor/sprite-editor.bat -t

