on: workflow_dispatch

jobs:
  build-test:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4

    - shell: bash
      name: test win32
      run: |
        ./application/go.bat

    - shell: bash
      name: test platform
      run: |
        ./platform/go.bat

    - shell: bash
      name: test demo
      run: |
        ./demo/go.bat -t

    - shell: bash
      name: test sprite-editor
      run: |
        ./sprite-editor/go.bat -t

